<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Product</title>
</head>

<body>
  <h1>Add a Product</h1>
  <form action="/products" method="POST">
    <label for="name">Product Name</label>
    <input type="text" name="name" placeholder="name">
    <label for="price">Price</label>
    <input type="number" name="price" placeholder="price">
    <label for="category">Category</label>
    <select name="category" id="">
      <option value="fruit">fruit</option>
      <option value="vegetable">vegetable</option>
      <option value="dairy">dairy </option>
    </select>
    <button>Submit</button>
  </form>

</body>

</html>